.foot-div-1{
	color: #fff;
	padding: 30px 0px 30px 0px;
}
.foot-div-1  li{
	list-style: none;
	padding: 10px;
}
.footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer a{
	padding:  10px;
}
.title-redes{
	margin-top: 20px;
	text-align: center;
	font-family: 'Fjalla One';
	color: #4420e0;
}