.banner-title{
	font-family: 'Fjalla One';
	font-size: 90px;
	color: white;
}
.banner-parrafo{
	font-size: 20px;
	font-family: 'Fjalla One';
	color:white;
}
.container-banner{
	width: 100%;
	height: 100%;
	padding-left: 50px;
	margin-bottom: 250px;
	display: flex;
	justify-content: left;
	align-items: center;
}
.banner{
	width: 100%;
	min-height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.responsive{
	padding: 5px 5px 5px 5px !important;
	background:#0080FF;
/*	background-image: url("img/dibujito2.png");

    background-position: bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
.soporte{
	padding: 5px 5px 5px 5px !important;
	background: #0e00d6;
	/*background-image: url("img/dibujito4.png");

    background-position: bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
.desarrollo{
	padding: 5px 5px 5px 5px !important;
	background:  #27AAFF;
	/*background-image: url("img/dibujito1.png");
   background-position: bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      background-repeat: no-repeat;
    background-size: 300px 277px;*/
}
.img-desarrollo{
	position: absolute;
	bottom: 0;
	right: 0;
}
.iot{
	padding: 5px 5px 5px 5px !important;
	background:#5B0097;
	/*background-image: url("img/dibujito3.png");
    background-position: bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

@media	(max-width: 1200px){
	.container-banner{
		padding-left: 20px;
	}
}
@media (max-width: 600px)
{
	.banner-title{
		font-size: 60px;
	}
}
@media(max-width: 400px){
	.img-desarrollo{
		width: 95%;
	}
}
