/*
	ESTILOS A LA BARRA DE NAVEGACION
*/
.nav{
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 100;
}
.menu{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo{
	height: 100%;
	display: inline-flex;
	justify-content: left;
	align-items: center;
}
.logo img{
	width: 60px;
	height: 60px;
}
.title-nav{
	padding: 0px 0px 0px 10px; 
	font-size: 30px;
}
.sub-menu{
	width: 100%;
	height: 100%;
	display: block;
	float:right;
}
.sub-menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	height: 100%;
	display: inline-flex;
}
.sub-menu ul li{
	float: right;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-menu ul li a:hover{
	border-color: #4420e0;
	border-radius: 50px;
	transition: background 1s, border-radius 1s, border 1s;
}
.sub-menu ul li a{
	color:#4420e0;
	text-decoration: none;
	font-family: 'Fjalla One';
	font-size: 18px;
	margin-right: 15px;
	padding: 5px 20px 5px 20px;
	border: 1px solid transparent;
}
/* CAMBIANDO COLORESD DEL NAV AL HACER SCROOL*/


/* FIN DEL SCROLL*/
.sub-menu-active{
	color :#47aa7d;
	border: 1px solid white;
	border-radius: 50px;
}
.title-nav{
	font-family: 'Fjalla One';
	color: #E2E1E0;
}
.ul-nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height : 100%;
	display: flex;
	justify-content: right;
	align-items: center;
}
.no-scroll{
	height: 70px;
	background: transparent;
	transition: height 0.4s, background 0.5s;
}
.nav-scroll{
	height: 60px;
	box-shadow: 0 4px 2px -2px #4420e0;
	background-color:  #fff;
	transition: height 0.4s, background 0.5s;
}

@media	(max-width: 1000px){
	.nav{
		display: none !important;
	}
}

