@import url('https://fonts.googleapis.com/css?family=Anton|Cabin&display=swap');
.section{
	padding: 0 !important;
}
.row{
	margin-bottom: 0!important;
}
.banner-home{
	height: 600px;
}
.content-2{
	height: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
}
.button-banner{
	position: relative;
	display: inline-block;
	overflow: hidden;
	font-size: 15px;
	padding: 25px 30px 25px 30px;;
	border: 2px solid white;
}
#logo-container{
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service{
		height: 800px;
}
.concept{
	width: 600px;
	padding-left: 3rem;
	padding-top: 3rem;
	color: white;
}
.concept h1{
	font-family: 'Anton';
	font-size: 4.5rem;
}
.concept p{
	font-family: 'Cabin';
	font-size: 1.5rem;
}
.concept a{
	font-family: 'Cabin';
	font-size: 1.5rem;
	border : 2px solid white;
	padding: 10px 20px 10px 20px ;
	transition: padding 0.3s;
	text-decoration: none;
	color:white;
}
.concept a:hover{
	padding: 10px 40px 10px 40px ;
	transition: padding 0.3s;
}
.btn-proyecto{
	text-align: center;
}
.btn-proyecto a{
	font-family: 'Cabin';
	font-size: 1.5rem;
	border : 2px solid blue;
	display: inline-block;
	padding: 10px 20px 10px 20px ;
	transition: padding 0.3s;
	text-decoration: none;
	color:blue;
}
.btn-proyecto a:hover{
	padding: 10px 40px 10px 40px ;
	transition: padding 0.3s;
}
.service img{
	float: right;
}
.title{
	text-align: center;
}
.title h1{
	font-family: 'Anton';
	font-size: 4.5rem;
	color: blue;
}
.programacion{
	/*
background: rgb(34,94,195);
background: linear-gradient(119deg, rgba(34,94,195,1) 61%, rgba(45,147,253,1) 100%);*/
background: #0060c2;
}
.iot{
	background: #5c05ff;
}
.diseño{/*
background: rgb(30,141,255);
background: linear-gradient(180deg, rgba(30,141,255,1) 50%, rgba(0,174,230,1) 100%);*/
background: #00aee6;
}
.social{
	background: #0060c2;
}

/* N O S O T R O S*/
.img-user{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}
.margin-row{
	margin-bottom: 70px !important;
}
.nosotros {
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
}
.nosotros-parrafo {
	width: 600px;
}
.nosotros-parrafo p{
	font-family:'Cabin';
	font-size: 1.5rem;
}
.clip-me{
	width: 100%;
	clip-path: polygon(100% 40%, 100% 41%, 0 51%, 0 50%);
}
.map{
	height: 700px;
}
.form{
	background: : rgb(17,88,163);
	background: linear-gradient(106deg, rgba(17,88,163,1) 22%, rgba(0,122,190,1) 53%, rgba(39,115,245,0.9304096638655462) 100%);
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-form{
	margin:0px 60px 0px 60px;
}

.cuadro{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-icon{
	display: inline-flex;
	font-size: 1.5rem;
	margin-bottom: 20px;
	color: white;
}
.social-icon i{
	font-size: 2rem;
	margin-right: 15px;
}
.socila li{
	display: inline;	
	padding-right: 5px;
}

/* MEDIA QUERY*/

@media (max-width: 1300px){
		.concept{
			width: 450px;
		}
		.concept h1{ 
			font-size: 3rem;
		}
		.concept p{
			font-size: 1rem;
		}
}
@media (max-width: 1000px){
		.concept{
			width: 350px;
		}
		.service img{
				width: 80%;
				display: block;
				margin-left: auto;
				margin-top: auto;
		}
		.service{
			height: 650px;
		}
}
@media (max-width: 800px){
	.concept{
		width: 300px;
		padding-left: 1rem;
	}

}